@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    overflow-y: hidden;
    display: none;
}

button {
    padding: 4%;
    margin: 2%;
    background: #020200, #620200, #020200 ;
    border: none;
}

h1 {
    padding: 5%;
    font-family: 'Calibri';
    text-align: center;
    color: #ffffff;
	font-size: 20px;
}

button {
    font-family: 'Calibri';
    background-color: rgba(10, 10, 10, 0.8);
    width: 28vh;
    height: 4.5vh;
    margin-bottom: 1px;
    transition: 0.2s;
    color: white;
    text-align: center;
    font-size: 1.4vh;
    box-shadow: gray;
}

button:hover {
    background-color: rgb(100, 0, 3);
    transition: 0.2s;
}

.main{
    position: absolute;
    top: 2vh;
    left: 10vh;
    width: 28vh;
    height: 4.5vh;
    margin-bottom: .75vh;
    transition: 0.2s;
}

.submit {
    display: none;
background-color: rgb(100, 0, 3);
width: 28vh;
height: 4.5vh;
margin-bottom: .75vh;
transition: 0.2s;
}

.submit:hover {
    background-color: rgb(100, 0, 3);
    transition: 0.2s;
}

.selected {
    background-color: rgb(100, 0, 3);
}